.maindiv{
  background-image: url('../../assets/grebg.png');
 
  background-color: rgb(49 206 93);
  justify-content: center;
    overflow: hidden;
    /* box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #eee; */
    position: relative;
   
}

.roundeddiv{
 border-radius: 25px;
}


.image-container img {
  position: absolute;
}


@media (max-width: 992px) {
  .image-container img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .image-container img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .image-container img {
    width: 50%;
  }
}
